name: Lint

on:
  # Run on every pull request
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]
  push:
    branches: [ main ]

env:
  JAVA_VERSION: 17

jobs:
  lint-helm:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Lint Helm
        uses: WyriHaximus/github-action-helm3@v4
        with:
          exec: helm lint ./src/main/k8s/prox-backend